body{
    background-color: rgb(249, 219, 249);
    margin: 0;
}

nav{
    background-color: plum;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

i.fa-house{
    color: purple;
    font-size: 1.5em;
    margin: 1em;
    cursor: pointer;
}

i.fa-house:hover{
    color: antiquewhite;
}

ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 17em;
    justify-content: center;
    font-size: 0.5rem;
    list-style: none;
    padding: 1em;
}

ul a{
    padding-left: 1em;
    font-size: 1.5rem;
    color: purple;
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    border-left: 2px solid purple;
    text-decoration: none;
}

ul a:hover{
    cursor: pointer;
    font-family: "Bitcount Grid Double", system-ui;
    font-style: italic;
    text-decoration: underline;
    color: antiquewhite;
    font-size: 1.5rem;
}

main{
    margin: 0 5% 0 5%;
}

.home-container{
    margin-top: 2em;
    justify-content: center;
    text-align: center;align-items: center;
    color: purple;
    font-size: 6rem;
    font-family: "Bitcount Grid Double", system-ui;
}

.principal-name{
    text-align: left;
    margin-top: 3em;
    margin-left: 1em;
    color: purple;
    font-family: "Bitcount Grid Double", system-ui;
    font-size: 2em;
    cursor: pointer;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.text-about{
    padding: 0 1em 0 1em;
    color: purple;
    background-color: antiquewhite;
    border: solid 2px plum;
    border-radius: 10px;
}

.about-container h2{
    font-family: "Bitcount Grid Double", system-ui;
    margin-right: 70%;
    text-align: center;
    font-size: 1.8em;
}

.about-container p{
    font-size: 1.3em;
    font-family: "Exo 2", sans-serif;
}

img#profile-pic{
    height: 250px;
    margin-right: 2em;
    border-radius: 50%;
    border: 4px solid purple;
}

.projectDet-container{
    margin: 1em;
}

.project{
    margin: 1em 0 1em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project img{
    height: 300px;
    margin: 2em;
    border: solid 2px plum;
    border-radius: 10px;
}

.project-text{
    margin-left: 3em;
    font-family: "Exo 2", sans-serif;
}

.project-text h3, .project-text a{
    color: purple;
}


.skills-container{
    margin: 0 4em 0 4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 6em;
}

.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    padding: 0.5em;
    border-radius: 10px;
    border: solid 2px plum;
}

.skill p{
    font-size: 1.5rem;
    padding-left: 1em;
    font-family: "Exo 2", sans-serif;
}

.skill p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.skill i{
    font-size: 3em;
    color: purple;
}

.addComment-container{
    text-align: center;
    font-size: 2em;
    font-family: "Exo 2", sans-serif;
    color: purple;
}

button.comment-btn{
    border: none;
    background-color: plum;
    color: purple;
    font-family: "Bitcount Grid Double", system-ui;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 10px;
}

button.comment-btn:hover{
    background-color: purple;
    color: antiquewhite;
}

input{
    margin: 1em;
}

.recomm-container{
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.recommendation{
    background-color: antiquewhite;
    border: solid 2px plum;
    border-radius: 10px;
    padding: 1em;
    margin: 2em;
    font-family: "Exo 2", sans-serif;
}

.recommendation h7, p#userComment{
    font-weight: bold;
    color: purple;
}

.recommendation i{
    color: purple;
    font-size: 1em;
    margin-right: 0.5em;
}

#recommendation-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2em;
}